<!doctype html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="{{ STATIC_URL }}blueprint/screen.css" type="text/css" media="screen, projection">
        <!--[if IE]><link rel="stylesheet" href="{{ STATIC_URL }}blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
		<link rel="stylesheet" href="{{ STATIC_URL }}screen.css" type="text/css" media="screen, projection">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
        {% block script %}{% endblock %}
    </head>
    <body>
		<div id="main-container">
			<div id="header">
				<div id="header-container">
					<div id="menu">
						<ol class="menubar">
							<li class="menuitem"><a href="/">Home</a></li>
							<li class="menuitem"><a href="/badge/">Sign In</a></li>
						</ol>
						<div class="blockseparator"></div>
					</div>
				</div>
			</div>
			<div id="banner">
			    <div id="banner-container">
					<div id="banner-content">
						<h1>{% block heading %}{% endblock %}</h1>
					</div>
				</div>
			</div>
			<div class="content">
				<div class="container">
				{% block content %}{% endblock %}
				</div>
			</div>
		</div>
    </body>
</html>