{% extends "base.html" %}

{% block title %}Make My Badge{% endblock %}

{% block heading %}Make My Badge{% endblock %}

{% block content %}        
<h2>FAQ</h2>
<strong>What is Make My Badge?</strong>
<p>Make my badge allows you to upload a template image and a bunch of event attendees and then generates badges that you can download and print</p>
<strong>Why do I need to pre-print badges?</strong>
<p>Make my badge programatically lays out the persons name on the badge. It tries to keep the name of the person really large, so they can be seen from a distance. 
It splits the name into two lines and adjusts the font size automatically so that longer names fit on the card correctly. Plus they look really cool.</p>
<strong>How do I use this site?</strong>
<p>Click the "Events List" in the menu. We haven't yet added the registration app, so for now use the username "djangodash" and password "djangodash" to login.</p>
{% endblock %}
