{% extends "base.html" %}

{% block title %}Items to generate{% endblock %}

{% block heading %}Badge Items{% endblock %}

{% block script %}
<script type="text/javascript">
    function wait_for_zip_complete(){
            jQuery.ajax({
                type:"GET",
                dataType:"json",
                url:"/badge/event/{{item_list.0.event.id}}/is_zip_ready/",
                success:function(data){
                    if(data["status"]["ready"]){
                        jQuery(".complete").toggle();
                        jQuery(".loading_2").toggle();
                    } else {
                        setTimeout(function(){
                            wait_for_zip_complete()
                        },2000);
                    }
                }
            });
    }

    function wait_for_badge_complete(){
            jQuery.ajax({
                type:"GET",
                dataType:"json",
                url:"/badge/event/{{item_list.0.event.id}}/are_badges_ready/",
                success:function(data){
                    if(data["status"]["ready"]){
                        jQuery(".loading_1").toggle();
                        jQuery(".loading_2").toggle();
                        wait_for_zip_complete();
                    } else {
                        setTimeout(function(){
                            wait_for_badge_complete()
                        },2000);
                    }
                }
            });
    }

    function init(){
        jQuery(".loading_1").toggle();
        jQuery(".loading_2").toggle();
        jQuery(".complete").toggle();
        jQuery("#make_badge_button").click(function(){
            var button = jQuery(this);
            jQuery.ajax({
                type:"POST",
                dataType:"json",
                data:{},
                url:"/badge/event/{{item_list.0.event.id}}/generate/",
                success:function(data){
                    jQuery(".loading_1").toggle();
                    button.toggle();
                    wait_for_badge_complete();
                }
            });
        });
    }
    jQuery("document").ready(function(){
        init();
    })

</script>
{% endblock %}

{% block content %}
<ul>
    {% for item in item_list %}
    <li>{{item.name}} {% if item.generated_image %}<a href="{{ item.generated_image.url }}">Badge</a>{% else %}(Not yet generated){% endif %}</li>
{% endfor %}
</ul>
<div class="information_area">
    <div class="complete success">
        <span>Success!! you can download the zip <a href="/uploads/zipped_content/event_{{item_list.0.event.id}}.zip">Here</a></span>
    </div>
    <div class="loading_2 notice">
        <img src="/static/images/loading.gif" />
        <br />
        <span>Badge Generation Complete. Zipping them all up.</span>
    </div>
    <div class="loading_1">
        <img src="/static/images/loading.gif" />
        <br />
        <span>Hard Core Badge Generation in Progress</span>
    </div>
    <button id="make_badge_button">Generate Badges</button>
</div>
{% endblock %}
